.pageList{:id => "list_#{object.id}"}
  .pageListHeader{:id => "list_header_#{object.id}"}
    %h2{:hover_handle => "page_slot_handle_#{object.page_slot.id}"}= h(object.name)
  
  - if object.can_be_edited_by(@logged_user)
    .pageListForm{:id => "list_header_#{object.id}_form", :style => 'display:none'}
      %h2= object.name
  
  .openItems
    %ul.listItems{:id => "sortable_list_#{object.id}"}
      = render :partial => 'list_items/show', :collection => object.open_items
  
  - if object.can_be_edited_by(@logged_user)
    .addItem
      .inner{:style => (@new_list.nil? ? 'display:none' : nil)}
        - form_tag page_list_list_items_path(object.page, object), :method => :post do
          %div
            = text_field 'list_item', 'content', :class => 'autofocus long'
          %div
            %button.submit{:type => 'submit'}= :add_item.l
            %a.cancel{:href => '#'}= :cancel.l
      .newItem{:style => (@new_list.nil? ? nil : 'display:none')}
        %a{:href => '#', :hover_handle => "page_slot_handle_#{object.page_slot.id}"}= :add_item.l
  
  .completedItems
    %ul.listItems
      = render :partial => 'list_items/show', :collection => object.completed_items
