Page.sel('#<%= "list_header_#{@list.id}_form" %>').hide();
Page.sel('#<%= "list_header_#{@list.id}_form" %>').html('');
Page.sel('#<%= "list_header_#{@list.id}" %>').replaceWith('<%= escape_javascript("<h2 hover_handle=\"page_slot_handle_#{@list.page_slot.id}\">#{h(@list.name)}</h2>").html_safe %>');
Page.sel('#<%= "list_header_#{@list.id}" %>').show();
