- @separator ||= @page.separators.new
- if @separator.new_record?
  - fpath = page_separators_path(@page)
  - fmethod = :post
  - fid = 'fixedWidgetForm'
- else
  - fpath = page_separator_path(@page, @separator)
  - fmethod = :put
  - fid = 'widgetForm'

= form_with(model: @separator, url: fpath, method: fmethod, class: fid) do |form|
  %input{type: 'hidden', name: 'is_new', value: '0'}
    .form-group.normal
      = form.text_field 'title', class: 'separatorFormTitle', class: 'autofocus moderate'
  
  - if @separator.new_record?
    %input#add_SeparatorFormBefore{type: 'hidden', :name=> 'position[before]', value: '0'}/
    %input#add_SeparatorFormSlot{type: 'hidden', :name=> 'position[slot]', value: '0'}/
    = submit_button_with_loader t('add_separator')
  - else
    = submit_button_with_loader t('edit_separator')
  
  %a{href: '#', class: 'cancel'}= t('cancel')
