<% ec = escape_javascript("<div class=\"pageSlot\" id=\"page_slot_#{@slot.id}\" slot=\"#{@slot.id}\"></div>").html_safe %>
<% if @insert_before %>
$('#<%= @insert_element %>').before('<%= ec %>');
<% else %>
$('#<%= @insert_element %>').after('<%= ec %>');
<% end %>
$('#<%= "page_slot_#{@slot.id}" %>').html('<%= escape_javascript render(:partial => 'pages/slot', :locals => {:object => @separator, :page_slot => @separator.page_slot}) %>');
Page.makeSortable();