- @page_title = t('login')

= form_tag session_path do
  #normal_login.inner{style: 'display: block'}
    #loginEmailField
      %label{for: 'loginEmail'}= t('email_address')
      != text_field_tag 'token_email', @login_email, size: 30, id: 'loginEmail', class: 'medium'
      %p.desc= t('token_login_email_desc')
  %input{type: 'hidden', name: 'token', value: @login_token}  
  
  #dialogSubmit
    %button.submit{type: 'submit'}= t('login')
