- if @note.nil? or @note.new_record?
  - fpath = page_notes_path(@page)
  - fmethod = :post
  - fid = 'fixedWidgetForm'
- else
  - fpath = page_note_path(@page, @note)
  - fmethod = :put
  - fid = 'widgetForm'
  
= form_tag( fpath, :method => fmethod, :class => fid) do
  - if @note.nil? or @note.new_record?
    %h2= t('add_note')
  
  %input{:type => 'hidden', :name => 'is_new', :value => '0'}

  %div
    != text_field 'note', 'title', :id => 'noteFormTitle', :class => 'autofocus long'
  %div
    %label{:for => 'noteFormTitle'}
    != text_area 'note', 'content', :id => 'noteFormContent', :rows => 8, :class => 'long'
  %div
    != check_box('note', 'show_date')
    %label.check{:for => 'noteFormShowDate'}= "Show date in title"
  
  - if @note.nil? or @note.new_record?
    %input#add_NoteFormBefore{:type => 'hidden', :name=> 'position[before]', :value => '0'}/
    %input#add_NoteFormSlot{:type => 'hidden', :name=> 'position[slot]', :value => '0'}/
    %button{:class => 'submit', :type => 'submit'}= t('add_note')
  - else
    %button{:class => 'submit', :type => 'submit'}= t('edit_note')
  
  %a{:href => '#', :class => 'cancel'}= t('cancel')
