- @note ||= @page.notes.new
- if @note.new_record?
  - fpath = page_notes_path(@page)
  - fmethod = :post
  - fid = 'fixedWidgetForm'
- else
  - fpath = page_note_path(@page, @note)
  - fmethod = :put
  - fid = 'widgetForm'
  
= form_with(model: @note, url: fpath, method: fmethod, class: fid) do |form|
  - if @note.new_record?
    %h2= t('add_note')
  
  %input{type: 'hidden', name: 'is_new', value: '0'}

  .form-group.normal
    = form.text_field 'title', class: 'noteFormTitle', class: 'autofocus long'
  .form-group.normal
    = form.label 'rich_content', "Content"
    = form.rich_text_area 'rich_content', class: 'noteFormContent long', rows: 8
  .form-group.checkbox
    = form.label 'show_date', "Show date in title"
    != form.check_box 'show_date'
  
  - if @note.new_record?
    %input#add_NoteFormBefore{type: 'hidden', :name=> 'position[before]', value: '0'}/
    %input#add_NoteFormSlot{type: 'hidden', :name=> 'position[slot]', value: '0'}/

    = submit_button_with_loader t('add_note')
  - else
    = submit_button_with_loader t('edit_note')
  
  %a{href: '#', class: 'cancel'}= t('cancel')
