= form_with(model: @reminder, url: reminder_path(@reminder), method: :put, class: 'reminderForm') do |form|
  .form-group.normal
    = form.text_field 'content', id: 'reminderFormContent', class: 'autofocus long'
  .form-group.normal
    %label{for: 'reminderFormTime'}= t('at_time')
    = form.datetime_field 'at_time', id: 'reminderFormTime', use_month_numbers: true
  .form-group.normal
    %label{for: 'reminderFormRepeat'}= t('repeat')
    = form.select 'repeat', Reminder.select_repeat, id: 'reminderFormRepeat'
  
  = submit_button_with_loader t('update')
    
  %a{href: '#', class: 'cancel'}= t('cancel')
