<div class="reminderGroup">
<h2><%= group[0][0] %></h2>
<% for reminder in group[1] %>
<div id="reminder_<%= reminder.id %>" class="reminderEntry <%= group[0][1] %>">
  <span class="reminderContent"><%= h reminder.content %></span>
  <span class="reminderTime">
  <%= reminder.at_time.to_s %>
  <% if group[0][2] == :due_format_hours %>
  <%= group[0][2].l_with_args(:hours => (reminder.at_time.hour - @now.hour)) %>
  <% elsif group[0][2] == :due_upcomming %>
  <%= group[0][2].l %>
  <% elsif group[0][2] == :done %>
  <%= "(Snooze, Delete?)"%>
  <% else %>
  <%= reminder.at_time.strftime(group[0][2].l) %>
  <% end %>
  </span>
</div>
<% end %>
</div>