- if @logged_user.is_admin
  .hint
    .header= t('user_administration_options') 
    .content
      .form-group.normal
        = form.label :username, "#{t('username')} <span class=\"label_required\">*</span>".html_safe
        = form.text_field :username, id: 'userFormUserName', class: 'moderate'
        = form_field_errors(form, :username)
      %fieldset
        %legend= t('options')
        .form-group.checkbox
          = form.label 'is_admin', t('user_is_admin')
          = form.check_box 'is_admin', id: 'userFormIsAdmin', class: 'yesno'

.form-group.normal
  = form.label :display_name, t('display_name')
  = form.text_field :display_name, id: 'userFormDisplayName', class: 'moderate'
  = form_field_errors(form, :display_name)

.form-group.normal
  = form.label :email, t('email_address')
  = form.text_field :email, id: 'userFormEmail', class: 'moderate'
  = form_field_errors(form, :email)

.form-group.normal
  = form.label :password, t('password')
  = form.password_field :password, id: 'userFormPassword', class: 'moderate'
  = form_field_errors(form, :password)

.form-group.normal
  = form.label :password_confirmation, t('repeat_password')
  = form.password_field :password_confirmation, id: 'userFormPasswordAgain', class: 'moderate'
  = form_field_errors(form, :password_confirmation)

.form-group.normal
  = form.label :time_zone, t('timezone')
  = form.time_zone_select :time_zone, nil, {}, {id: 'userFormTimezone', class: 'moderate'}
