- @page_title = @initial_signup ? t('set_password') : t('reset_password')

= form_with(model: @user, url: reset_password_users(@user), method: :post) do
  %input{type: 'hidden', name: 'confirm', value: h(params[:confirm])}
  %div
    %label{for: 'passwordFormNewPassword'}!= "#{t('password')} <span class=\"label_required\">*</span>"
    %input{type: 'password', id: 'passwordFormNewPassword', name: 'user[password]'}
    = form.error_messages_for :password
  %div
    %label{for: 'passwordFormNewPasswordAgain'}!= "#{t('repeat_password')} <span class=\"label_required\">*</span>"
    %input{type: 'password', id: 'passwordFormNewPasswordAgain', name: 'user[password_confirmation]'}
    = form.error_messages_for :password
  #dialogSubmit
    %button.submit{type: 'submit'}= @initial_signup ? t('set_password') : t('change_password')
