- @page_title = :pages.l
- @tabbed_navigation_items = common_tabs(:pages)
- @user_navigation_items = user_tabs(nil)

#tagCrumbsWrapper
  %p.floatleft= :current_tags.l
  %ul{:id => 'tagCrumbs'}
    - unless @search_tags.nil?
      != render :partial => 'tags/crumb', :collection => @search_tags

#tagNewCrumbsWrapper
  %h3= :available_tags.l
  %ul{:id => 'tagNewCrumbs'}
    - unless @avail_tags.nil?
      != render :partial => 'tags/new_crumb', :collection => @avail_tags

%table
  %tr#myPageHeader
    %td{:colspan => 2}
      %h2= :my_pages.l
  
  != render :partial => 'index_page', :collection => @pages, :locals => {:shared => false}
  
  %tr#sharedPageHeader
    %td{:colspan => 2}
      %h2= :pages_shared_to_me.l
  
  != render :partial => 'index_page', :collection => @shared_pages, :locals => {:shared => true}

%p
  %a{:href => new_page_path}= :new_page.l
