<%
    @page_title = :pages.l
    
    @tabbed_navigation_items = common_tabs(:pages)
    @user_navigation_items = user_tabs(nil)
%>

<table>

  <tr><td><h2><%= :my_pages.l %></h2></td><td></td></tr>
  
<% for page in @pages %>
  <tr>
    <td><%= link_to h(page.title), page %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

  <tr><td><h2><%= :pages_shared_to_me.l %></h2></td><td></td></tr>
  
<% for page in @shared_pages %>
  <tr>
    <td><%= link_to h(page.title), page %></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_page_path %>
