<%
    @page_title = :new_page.l
    
    @tabbed_navigation_items = common_tabs(:pages)
    @user_navigation_items = user_tabs(nil)
%>

<%= form_tag pages_path(:use_route => nil) %>
  <%= error_messages_for :page %>
  <p>
    <label for="newpage_title"></label>
    <%= text_field 'page', 'title', :id => 'newpage_title', :class => 'long' %>
  </p>
  <p>
    <%= submit_tag :page_create.l %>
  </p>
</form>

<%= link_to :page_back.l, pages_path %>