- @tabbed_navigation_items = common_tabs(:pages)
- @user_navigation_items = user_tabs(nil)

- form_tag hash_for_share_page_path.merge(:id => @page.id, :use_route => nil), :method => :post, :class => 'pageShareForm' do
  != error_messages_for :page
  
  %div.pageShareSection
    != check_box_tag 'page[is_public]', true, @page.is_public, :id => "pageSetPublic"
    %label= :page_public.l_with_args(:link => link_to(public_page_url(@page), public_page_url(@page)))
  
  %div.pageShareSection
    %h2= :users_who_can_see_page.l
    
    %table.pageShareUsers
      - Account.owner.users.each do |user|
        - next if user.id == @page.created_by_id
        %tr
          %td
            %label= h user.display_name
          %td
            != check_box_tag 'page[shared_users][]', user.id, @page.shared_user_ids.include?(user.id), :id => "pageShareUser#{user.id}"
  %div.pageShareSection
    != submit_tag :update.l
    %a{:href => url_for(hash_for_page_path.merge(:id => @page.id, :use_route => nil))}= :cancel.l 