- @tabbed_navigation_items = common_tabs(:pages)
- @user_navigation_items = user_tabs(nil)
- @additional_stylesheets = ['public_page'] if @logged_user.is_anonymous?

#pageWidgetForms
  - Page.widgets.each do |widget|
    - next if widget.form_partial.nil?
    %div{:id => "add_#{widget.to_s}Form"}
      = render :partial => widget.form_partial, :locals => {:widget => widget} unless widget.form_partial.nil?

- unless @logged_user.is_anonymous?
  #pageTagsWrapper
    %span.floatleft=:tags.l
    %ul#pageTags
      = render :partial => 'tags/show', :collection => @page.tags_list
    #pageTagsForm
    #pageEditTags
      %a.edit{:href => '#'}= :edit_tags.l

#slots.pageSlots
  -# Util widgets
  #pageInsert{:style => 'display:none'}
    %p#cpi= :insert_here.l

  #pageInsertItems
    #pageInsertItemsBar{:style => 'display:none'}
      #pageInsertItemCancel
        %a{:href => '#'}= :cancel.l
      #pageInsertItemWidgets
        = "#{:add_to_page.l}:"
        %span= Page.widgets.collect { |widget| "<a class=\"add_#{widget.name.to_s}\" href=\"#\">#{widget.name.to_sym.l}</a>"}.to_sentence(:connector => :or.l, :skip_last_comma => true)
    
    #pageTablet
      #pageTabletContainer
    
  -# Core slots
  - @page.slots.each do |slot|
    .pageSlot{:id => "page_slot_#{slot.id}", :slot => slot.id}
      = render :partial => 'slot', :locals => {:object => slot.rel_object, :slot => slot}

  .pageSlot.pageFooter#page_slot_footer{:slot => 0}

#pageOptions
  - if @page.can_be_favourited_by(@logged_user)
    %a#pageSetFavourite{:href => '#', :style => (@page.is_favourite?(@user) ? 'display:none;' : nil)}= :favourite.l
    %a#pageSetNotFavourite{:href => '#', :style => (@page.is_favourite?(@user) ? nil : 'display:none;')}= :not_favourite.l
  
  - if @page.can_be_shared_by(@logged_user)
    |
    =  (@page.is_shared? ? :page_is_shared : :page_is_not_shared).l_with_args(:link => link_to(:change.l, hash_for_share_page_path.merge(:id => @page.id, :use_route => nil)))
  
  - if @page.can_be_duplicated_by(@logged_user)
    |
    %a#pageDuplicate{:href => '#'}= :duplicate_page.l
  
  - if @page.can_be_deleted_by(@logged_user)
    |
    %a#pageDelete{:href => '#'}= :delete_page.l

