.pageAlbum{:id => "album_#{object.id}"}
  .pageAlbumHeader{:id => "album_header_#{object.id}"}
    %h2{:hover_handle => "page_slot_handle_#{object.page_slot.id}"}= h(object.title)
  
  - if object.can_be_edited_by(@logged_user)
    .pageAlbumForm{:id => "album_header_#{object.id}_form", :style => 'display:none'}
      %h2= object.title
  
  %ul.albumPictures{:id => "sortable_album_#{object.id}"}
    = render :partial => 'album_pictures/show', :collection => object.pictures
    - if object.can_be_edited_by(@logged_user)
      %li.albumPictureForm{:id => "album_picture_form_#{object.id}"}
        .inner{:style => (@new_album.nil? ? 'display:none' : nil)}
          = render :partial => 'album_pictures/form', :locals => {:object => object}
        .newPicture{:style => (@new_album.nil? ? nil : 'display:none')}
          %a{:href => '#'}= :add_picture.l
  .clear