.pageAlbum{:id => "album_#{object.id}"}
  .pageAlbumHeader{:id => "album_header_#{object.id}"}
    %h2{:hover_handle => "page_slot_handle_#{object.page_slot.id}"}= h(object.title)
  
  - if object.can_be_edited_by(@logged_user)
    .pageAlbumForm{:id => "album_header_#{object.id}_form", :style => 'display:none'}
      %h2= object.title
  
  %ul.albumPictures{:id => "sortable_album_#{object.id}"}
    = render :partial => 'album_pictures/show', :collection => object.pictures
    - if object.can_be_edited_by(@logged_user)
      %li.albumPictureForm
        .inner{:style => (@new_album.nil? ? 'display:none' : nil)}
          - form_tag page_album_album_pictures_path(object.page, object), :method => :post, :multipart => true do
            != file_field 'picture', 'picture', :class => 'pictureFormTitle', :class => 'autofocus long', :size => 8
            = text_field 'picture', 'caption', :class => 'autofocus long', :size => 18
            %div
              %button.submit{:type => 'submit'}= :add_picture.l
              %a.cancel{:href => '#'}= :cancel.l
        .newPicture{:style => (@new_album.nil? ? nil : 'display:none')}
          %a{:href => '#', :hover_handle => "page_slot_handle_#{object.page_slot.id}"}= :add_picture.l
  .clear