- @page_title = :journal.l
- @no_page_tile = true
- @tabbed_navigation_items = common_tabs(:journal)
- @user_navigation_items = user_tabs(nil)

#userStatusBlock
  %h2= :status.l
  
  #userStatus
    #user_status.inner= textilize @status.content
    #user_status_form.form{:style => 'display:none'}= render :partial => 'statuses/form', :object => @status

#userJournal
  .inner
    - form_tag user_journals_path(@user) do
      %label{:for => 'journalContent'}= :add_entry.l
      = text_field 'journal', 'content', :class => 'long', :id => 'journalContent'

#userJournals
  = render :partial => 'list', :collection => @grouped_journals

- if @journals.length >= 25
  #userJournalsMore.hint{:from => @journals.last.id}
    %a{:href => '#'}= :display_x_more_entries.l_with_args(:num => 25)
    = loader_icon