- @page_title = t('journal')
- @no_page_tile = true
- @tabbed_navigation_items = common_tabs(:journal)
- @user_navigation_items = user_tabs(nil)

- content_for :extra_meta do
  %meta{name: "journal-locale", value: journal_locale_strings.to_json}/

#userStatusBlock
  %h2= t('status')
  
  #userStatus
    #user_status.inner!= textilize h(@status.content)
    #user_status_form.form{style: 'display:none'}= render partial: 'statuses/form', object: @status

#userJournal
  .inner
    = form_tag user_journals_path(@user), remote: true do
      %label{for: 'journalContent'}= t('add_entry')
      = text_field 'journal', 'content', class: 'long', id: 'journalContent'

#userJournals
  = render partial: 'list', collection: @grouped_journals

- if @journals.length >= 25
  #userJournalsMore.hint{from: @journals.last.id}
    %a{href: '#'}= t('display_x_more_entries', num: 25)
    = loader_icon