- url = show.can_be_edited_by(@logged_user) ? "/albums/#{show.album_id}/pictures/#{show.id}" : nil

%li.albumPicture{id: "album_picture_#{show.id}", picture_id: show.id, url: url}
  .albumPictureContent
    - if show.can_be_edited_by(@logged_user)
      = page_handle [ ['delete', '-'], ['edit', t('edit')], ['album_picture_handle', '+'] ], "page_picture_handle_#{show.id}", '.albumPicture', 'pageSlotHandle'
    %a{href: show.picture.url}
      %img{src: url_for(show.picture.variant(:album)), hover_handle: "page_picture_handle_#{show.id}"}
    .albumPictureCaption= textilize show.caption, true