<%  if show.can_be_changed_by(@logged_user) %>
<li class="listItem" id="<%= "list_item_#{show.id}"%>" item_id="<%= show.id %>" url="<%= "lists/#{show.list_id}/items/#{show.id}" %>">
<% else %>
<li class="listItem" id="<%= "list_item_#{show.id}"%>" item_id="<%= show.id %>">
<% end %>
<div class="listItemContent">
<% if show.can_be_changed_by(@logged_user) %>
<% unless show.is_completed? %>
<div class="pageSlotHandle" id="page_item_handle_<%= show.id %>" resType=".listItem" style="display:none">
    <div class="inner">
      <ul>
        <li class="slot_delete">-</li>
        <li class="slot_edit"><%= :edit.l %></li>
        <li class="slot_handle">+</li>
      </ul>
    </div>
  </div>
<% end %>
  <input class="checkbox" type="checkbox" hover_handle="page_item_handle_<%= show.id %>" <% if show.is_completed? %>checked="checked"<% end %>/>
<% else %>
  <span class="readCheckbox"><%= show.is_completed? ? render_icon('checked', :list_item_completed.l) : render_icon('not-checked', :list_item_open.l) %></span>
<% end %>
  <span class="itemText" hover_handle="page_item_handle_<%= show.id %>"><%= h object.content %></span>
</div>
</li>