<%  if show.can_be_completed_by(@logged_user) %>
<li class="listItem" id="<%= "list_item_#{show.id}"%>" item_id="<%= show.id %>" url="<%= "/lists/#{show.list_id}/items/#{show.id}" %>">
<% else %>
<li class="listItem" id="<%= "list_item_#{show.id}"%>" item_id="<%= show.id %>">
<% end %>
<div class="listItemContent">
<% if show.can_be_completed_by(@logged_user) %>
<% unless show.is_completed? or !show.can_be_edited_by(@logged_user) %>
<%= page_handle [ ['delete', '-'], ['edit', :edit.l], ['handle', '+'] ], "page_item_handle_#{show.id}", '.listItem' %>
<% end %>
  <input class="checkbox" type="checkbox" hover_handle="page_item_handle_<%= show.id %>" <% if show.is_completed? %>checked="checked"<% end %>/>
<% else %>
  <span class="readCheckbox"><%= show.is_completed? ? render_icon('checked', :list_item_completed.l) : render_icon('not-checked', :list_item_open.l) %></span>
<% end %>
  <span class="itemText" hover_handle="page_item_handle_<%= show.id %>"><%= textilize object.content, true %></span>
</div>
</li>