!!! Strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %title= h @page_title
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}/
    != stylesheet_link_tag 'dialog'
    
    = javascript_include_tag 'jquery.js' 
    = javascript_include_tag 'jquery-ui.js'
    = javascript_include_tag 'jrails.js'
    = javascript_include_tag 'application.js'
  %body
    #dialog
      %h1= h @page_title
      #statusBar.flash{:class => (flash[:error] ? 'error' : 'success'), :style => (flash.has_key?(:message) ? 'display:block' : nil)}= h flash[:message]
      != yield
