!!! Strict
%html
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}/
    - if @page.can_be_edited_by @logged_user
      %link{ 'rel' => 'alternate', 'type' => 'application/x-wiki', 'title' => :edit.l, 'href' => @page.object_url}/
    - else
      %meta{ :name => 'page-readonly', :content => 'true' }
    %title= "#{site_name} - #{h(@page.title)}"
    
    = stylesheet_link_tag 'pages'
    - unless @additional_stylesheets.nil?
      - @additional_stylesheets.each do |ss|
        = stylesheet_link_tag ss
    = ie_stylesheet_link_tag 'ie_hack'
    
    = auto_discovery_link_tag(:rss, {:controller => 'pages', :action => 'show', :id => @page.id, :format => 'rss'})
    
    = javascript_include_tag 'jquery.js' 
    = javascript_include_tag 'jquery-ui.js'
    = javascript_include_tag 'jrails.js'
    = javascript_include_tag 'application.js'
    
    %meta{ :name => 'page-type', :content => 'page' }
    %meta{ :name => 'page-id', :content => @page.id }
    %meta{ :name => 'page-width', :content => @page.width }
    
    - if protect_against_forgery?
      %meta{ :name => 'auth-token', :content => form_authenticity_token }
    = javascript_tag yield(:js_templates)
    
    %style{:type => 'text/css'}= ".totalPageWidth { width: #{@page.width+200}px; }\n#content { width: #{@page.width}px; }"
    
    %style{:type => 'text/css'}= "#tabsWrapper ul li a { color: #{site_account.tab_text_colour}; background: #{site_account.tab_background_colour}; }"
    %style{:type => 'text/css'}= "#tabsWrapper ul li a:hover { color: #{site_account.tab_text_hover_colour}; background: #{site_account.tab_background_hover_colour}; }"
    %style{:type => 'text/css'}= "#header { background: #{site_account.header_colour}; }"
    %style{:type => 'text/css'}= "#pageTools, #pageInsertItemsBar { background-color: #{site_account.page_header_colour}; }"
    %style{:type => 'text/css'}= "#pageTools, #pageTools a { color: #{site_account.page_header_text_colour}; }"
    %style{:type => 'text/css'}= "#pageTools a:hover { color: white; }"
    %style{:type => 'text/css'}= "#pageInsertItemsBar, #pageInsertItemsBar a { color: #{site_account.page_header_text_colour}; }"
  %body#body
    #wrapper
      
      -# Top of page (tabs, user box, etc)
      #header
        != render :partial => 'layouts/tabs'
      
      #outerWrapper
        #innerWrapper.totalPageWidth
          -# Displays general alerts
          = status_bar
          
          #pageContent
            #content
              #pageTools
                - if @page.can_be_edited_by(@logged_user)
                  -# Really need to clean this up!
                  #pageResizeHandle
                  %div= "#{:add_to_page.l} <span> #{ Page.widgets.collect { |widget| "<a class=\"add_#{widget.name.to_s} atTop\" href=\"#\">#{widget.name.to_sym.l}</a>"}.to_sentence(:words_connector => ", ", :last_word_connector => " #{:cn_or.l} ") }</span>"
              .pageHeader{:url => ''}
                = @page.can_be_edited_by(@logged_user) ? page_handle([ ['edit', :edit.l] ], 'page_header_handle', '.pageHeader') : ''
                
                #page_header.inner
                  %h1
                    %span{'hover_handle' => 'page_header_handle'}= h @page.title
                #page_header_form.pageHeaderForm{:style => 'display: none'}
                
              -# Content
              = yield
            
            #sidebar
              = render :partial => (@content_for_sidebar.nil? ? 'layouts/blank_sidebar' : @content_for_sidebar )
            
            %div{:style => 'clear:both'}
          
        = render :partial => 'layouts/footer'
