<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= AppConfig.site_name %> - <%= h @page.title %></title>
    
	<%= stylesheet_link_tag 'pages' %>
	<% if not @additional_stylesheets.nil?
	  @additional_stylesheets.each do |ss| -%>
	  <%= stylesheet_link_tag ss %>
	  <% end %>
	<% end %>
	<%= javascript_include_tag 'prototype.js' %>
	<%= javascript_include_tag 'effects.js' %>
	<%= javascript_include_tag 'dragdrop.js' %>
	<%= javascript_include_tag 'controls.js' %>
	<%= javascript_include_tag 'lowpro.js' %>
	<%= javascript_include_tag 'application.js' %>
	
	<%= javascript_tag "const AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
	
	<%= javascript_tag "const PAGE_ID = #{@page.id}; const PAGE_READONLY = #{!@page.can_be_edited_by(@logged_user)};" %>

  </head>
  <body id="body">
  
    <div id="wrapper">
    
      <div id="header">
        <%= render :partial => 'layouts/tabs' %>
      </div>
      
      <div id="outerWrapper">
        <div id="innerWrapper">  
          <div id="statusBar" class="<%= flash[:error] ? 'flash_error' : 'flash_success' %>" <% if flash[:message] %>><%= h flash[:message] %><% else %>style='display:none;'><% end %></div> 
          <div id="pageContent">
            <div id="content">
              <div id="pageTools">
              <% if @page.can_be_edited_by(@logged_user) %>
              <div>
              <%= :add_to_page.l %>:
              <span> <%= Page.widgets.collect { |widget| "<a class=\"add_#{widget.name.to_s}\" href=\"#\">#{widget.name.to_sym.l}</a>"}.join(', ') %></span>
              </div>
              <% end %>
              </div>

              <div class="pageHeader" url="">
                <% if @page.can_be_edited_by(@logged_user) %>
                <%= page_handle [ ['edit', :edit.l] ], 'page_header_handle', '.pageHeader' %>
                <% end %>
                <div class="inner" id="page_header"><h1><span hover_handle="page_header_handle"><%= h @page.title %></h1></span></div>
                <% if true %>
                <div class="pageHeaderForm" id="page_header_form" style="display: none"></div>
                <% end %>
              </div>
                     
              <h1 id="pageTitle"><span id="page_header_<%= %>"><%= h @page_title %></span></h1>
              <!-- Content -->
              <%= yield %>
              <!-- /Content -->
            </div>
              
              <div id="sidebar">
                <%= render :partial => (@content_for_sidebar.nil? ? 'layouts/blank_sidebar' : @content_for_sidebar ) %>
              </div>
            
            
            <div style="clear:both"></div>
          </div>
          
        </div>
        <%= render :partial => 'layouts/footer' %>
      </div>
      
    </div>
  </body>
</html>
