!!! Strict
%html
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}/
    %link{ 'rel' => 'alternate', 'type' => 'application/x-wiki', 'title' => :edit.l, 'href' => @page.object_url}/
    %title= "#{site_name} - #{h(@page.title)}"
    
    %meta{ :name => 'page-type', :content => 'public_page' }
    %meta{ :name => 'page-id', :content => @page.id }
    %meta{ :name => 'page-width', :content => @page.width }
    
    = stylesheet_link_tag 'pages'
    - unless @additional_stylesheets.nil?
      - @additional_stylesheets.each do |ss|
        = stylesheet_link_tag ss
    = ie_stylesheet_link_tag 'ie_hack'
    
    = javascript_tag yield(:js_templates)
    
    %style= ".totalPageWidth { width: #{@page.width+200}px; }\n#content { width: #{@page.width}px; }"
  
  %body#body
    #wrapper
      
      #outerWrapper
        #innerWrapper.totalPageWidth
          
          #pageContent
            #content
              #page_header.pageHeader.inner
                %h1
                  %span= h @page.title
                
              -# Content
              = yield
            
            #sidebar
              = render :partial => (@content_for_sidebar.nil? ? 'layouts/blank_sidebar' : @content_for_sidebar )
            
            %div{:style => 'clear:both'}
          
        = render :partial => 'layouts/footer'
